*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(107, 190, 244);
}

.sign-up-form{
    width: 80%;
    max-width: 450px;
    background: #fff;
    top: 20;
    left: 45%;
    transform: translate(-50%,30%);
    position: absolute;
    text-align: center;
    padding: 10px;
}
.input-field{
    margin:10px;
    align-items: center;

}
.sign-up-form h1{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}
input{
    padding: 20px;
    background-color: #dad9d9;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 0;

}
.input-button{
    width: 100px;
    height: 15px;
}
button{
    background: #dad9d9;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
    padding:5px;
    margin: 10px;
}
 button:hover{
    color: red;
    cursor: pointer;
}
/*
  Home page
*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.nav-bar .logo{
    width: 50px;
    height: 50px;
}
.nav-bar ul{
    display: flex;
    flex-direction:row;
    justify-content: end ;

}
.nav-bar ul li{
    list-style-type: none;
    margin: 20px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
/*
Search Row
*/
.search-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 30px 0px 100px;
}
.search-bar{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 0 0;
}
hr{
    margin:0px 15px 15px 10px;
    
    border: 0.8px solid rgb(73, 73, 74);
}
.search-bar input{
    font-size: var(--fs-6);
    height: 50px;

    border: 1px solid black;
    width: 300px;
    padding-inline: 15px;
    color: black;

}
.search-bar button{
    height: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    padding-inline: 25px;
    color: black;
    background-color: #dad9d9;
    border: 1px solid black;
}
.search-bar button:hover{
    opacity: 0.8;
   color: blue;
}
.search-row >img{
    max-width: 50px;
    max-height: 50px ;
    border-radius: 50%;
}
.audio-book .audio-tag{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 50px;
    font-weight: 500;
}
.audio-doc{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 30px;
    overflow: hidden;
}
.one-audio{
    width: 250px;
    height: 250px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
   margin: 30px;
}
.one-audio img{

    width: 90%;
    height: 80%;
    padding: 2px;
    position: relative;
    border-radius: 10px;
    left: 5%;
}
.one-audio audio{
    position: absolute;
    width: 50%;
    height: 10%;
    padding: 2px;
    bottom: 20%;
    right: 10%;
    appearance: none;
    background:none;
    
}
.one-audio p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.one-audio a{
    text-decoration: none;
    color: inherit;
}
.book .book-tag{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 50px;
    font-weight: 500;
}
.book .book-tag a{
    text-decoration: none;
    color: inherit;
}
/*
blog style*/
.book-doc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.one-book{
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.one-book img{
    width: 300px;
    height: 300px;
    position: relative;
}
.one-book a{
    text-decoration: none;
    color: inherit;
}
.one-book p{
    font-size: 30px;
    text-align: center;
    padding: 5px;
}
/*blog*/

.book-list{
    margin: 40px;
}
.blog{
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.blog-book img{
    width: 180px;
    height: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
}
.blog .blog-text{
    font-size:18px;
}


/*
shop style*/
.book-shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.one-shop{
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.one-shop img{
    width: 250px;
    height: 250px;
    position: relative; 
}
.one-shop .sub{
    font-size: 20px;
    margin: 5px;
    padding-left: 3px;
}
.one-shop p{
    text-align: center;
}
.one-shop button{
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    text-align: end;
}
.one-shop button:hover{
    background-color: rgb(48, 146, 207);
}
/*audio shop*/
.shop-audio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.one-audio-shop{
    width: 280px;
    height: 300px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
   margin: 30px;
}
.one-audio-shop img{

    width: 80%;
    height: 70%;
    padding: 2px;
    position: relative;
    border-radius: 10px;
    left: 10%;
}
.one-audio-shop audio{
    position: absolute;
    width: 50%;
    height: 10%;
    padding: 2px;
    bottom: 30%;
    right: 13%;
    appearance: none;
    background:none;
    
}


.one-audio-shop .sub{
    font-size: 20px;
    margin: 5px;
    padding-left: 3px;
}
.one-audio-shop p{
    text-align: center;
}
.one-audio-shop button{
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    text-align: end;
}
.one-audio-shop button:hover{
    background-color: rgb(48, 146, 207);
}.one-audio-shop data{
    padding-right: 40px;
}